In [20]:
import pandas as pd

df = pd.read_csv("data.csv")

In [21]:
import pandas as pd

# Load the data
def load_data():
    return pd.read_csv('data.csv')

df = load_data()

In [22]:

# Display raw data
print("Raw Data:")
print(df.head())  # Displaying the first few rows

Raw Data:
       States_UnionTerritories  2000-01-INC  2011-12-INC  2001 - LIT  \
0  Andaman and Nicobar Islands        25047        89642       81.30
1               Andhra Pradesh        17195        64773       60.47
2            Arunachal Pradesh        15260        71366       54.34
3                        Assam        12803        36320       63.25
4                        Bihar         6415        22582       47.00

   2011-LIT  2001 - POP  2011- POP  2001 -SEX_Ratio  2011 -SEX_Ratio  \
0     86.63         356        381              846              876
1     67.02       76210      84581              978              993
2     65.39        1098       1384              893              938
3     72.19       26656      31206              935              958
4     61.80       82999     104099              919              918

   2001 -UNEMP  2011 -UNEMP  2001 -Poverty  2011-Poverty
0           34           54          20.99          1.00
1            8           12          15.77          9.20
2            5           17          33.47         34.67
3           39           45          36.09         31.98
4           18           32          42.60         33.74

In [23]:

# Analyzing Poverty Rate Changes
print("Poverty Rate Changes from 2001 to 2011")
poverty_change = df[['States_UnionTerritories', '2001 -Poverty', '2011-Poverty']].copy()
print(poverty_change.head())

Poverty Rate Changes from 2001 to 2011
       States_UnionTerritories  2001 -Poverty  2011-Poverty
0  Andaman and Nicobar Islands          20.99          1.00
1               Andhra Pradesh          15.77          9.20
2            Arunachal Pradesh          33.47         34.67
3                        Assam          36.09         31.98
4                        Bihar          42.60         33.74

In [24]:
# Comparing Literacy Rate Changes
print("Literacy Rate Changes from 2001 to 2011")
literacy_change = df[['States_UnionTerritories', '2001 - LIT', '2011-LIT']].copy()
print(literacy_change.head())

Literacy Rate Changes from 2001 to 2011
       States_UnionTerritories  2001 - LIT  2011-LIT
0  Andaman and Nicobar Islands       81.30     86.63
1               Andhra Pradesh       60.47     67.02
2            Arunachal Pradesh       54.34     65.39
3                        Assam       63.25     72.19
4                        Bihar       47.00     61.80

In [25]:
# Sex Ratio Changes
print("Sex Ratio Changes from 2001 to 2011")
sex_ratio_change = df[['States_UnionTerritories', '2001 -SEX_Ratio', '2011 -SEX_Ratio']].copy()
print(sex_ratio_change.head())

Sex Ratio Changes from 2001 to 2011
       States_UnionTerritories  2001 -SEX_Ratio  2011 -SEX_Ratio
0  Andaman and Nicobar Islands              846              876
1               Andhra Pradesh              978              993
2            Arunachal Pradesh              893              938
3                        Assam              935              958
4                        Bihar              919              918

In [26]:
# Population Growth
print("Population Growth from 2001 to 2011")
df_copy = df.copy()
df_copy['Population Growth'] = df_copy['2011- POP'] - df_copy['2001 - POP']
df_copy.sort_values('Population Growth', ascending=False, inplace=True)
print(df_copy[['States_UnionTerritories', 'Population Growth']].head())

Population Growth from 2001 to 2011
   States_UnionTerritories  Population Growth
29           Uttar Pradesh              33614
4                    Bihar              21100
17             Maharashtra              15495
16          Madhya Pradesh              12279
25               Rajasthan              12041

In [27]:
# Correlation Matrix
print("Correlation Matrix")
numeric_df = df.select_dtypes(include=['float64', 'int64'])  # Select only numeric columns
corr = numeric_df.corr()
print(corr)

Correlation Matrix
                 2000-01-INC  2011-12-INC  2001 - LIT  2011-LIT  2001 - POP  \
2000-01-INC         1.000000     0.856503    0.339893  0.410330   -0.347463
2011-12-INC         0.856503     1.000000    0.320797  0.409660   -0.341904
2001 - LIT          0.339893     0.320797    1.000000  0.954714   -0.197126
2011-LIT            0.410330     0.409660    0.954714  1.000000   -0.236801
2001 - POP         -0.347463    -0.341904   -0.197126 -0.236801    1.000000
2011- POP          -0.354727    -0.349059   -0.194548 -0.232625    0.998999
2001 -SEX_Ratio    -0.376493    -0.292318   -0.184731 -0.239140    0.075535
2011 -SEX_Ratio    -0.267230    -0.224162   -0.186974 -0.241932   -0.013069
2001 -UNEMP         0.418115     0.556975   -0.025393  0.069774   -0.221888
2011 -UNEMP         0.136922     0.142222   -0.130303 -0.030493   -0.303407
2001 -Poverty      -0.646359    -0.567767   -0.199488 -0.274090    0.213448
2011-Poverty       -0.522265    -0.587595   -0.188766 -0.246837    0.242429

                 2011- POP  2001 -SEX_Ratio  2011 -SEX_Ratio  2001 -UNEMP  \
2000-01-INC      -0.354727        -0.376493        -0.267230     0.418115
2011-12-INC      -0.349059        -0.292318        -0.224162     0.556975
2001 - LIT       -0.194548        -0.184731        -0.186974    -0.025393
2011-LIT         -0.232625        -0.239140        -0.241932     0.069774
2001 - POP        0.998999         0.075535        -0.013069    -0.221888
2011- POP         1.000000         0.060463        -0.030603    -0.231557
2001 -SEX_Ratio   0.060463         1.000000         0.969892     0.257778
2011 -SEX_Ratio  -0.030603         0.969892         1.000000     0.330296
2001 -UNEMP      -0.231557         0.257778         0.330296     1.000000
2011 -UNEMP      -0.305636        -0.113035        -0.034893     0.403913
2001 -Poverty     0.223641         0.190688         0.180561    -0.217504
2011-Poverty      0.258446         0.071169         0.046818    -0.332960

                 2011 -UNEMP  2001 -Poverty  2011-Poverty
2000-01-INC         0.136922      -0.646359     -0.522265
2011-12-INC         0.142222      -0.567767     -0.587595
2001 - LIT         -0.130303      -0.199488     -0.188766
2011-LIT           -0.030493      -0.274090     -0.246837
2001 - POP         -0.303407       0.213448      0.242429
2011- POP          -0.305636       0.223641      0.258446
2001 -SEX_Ratio    -0.113035       0.190688      0.071169
2011 -SEX_Ratio    -0.034893       0.180561      0.046818
2001 -UNEMP         0.403913      -0.217504     -0.332960
2011 -UNEMP         1.000000       0.042132     -0.170415
2001 -Poverty       0.042132       1.000000      0.642361
2011-Poverty       -0.170415       0.642361      1.000000

In [28]:
# Top 5 states with highest increase in literacy rate
print("Top 5 States with Highest Increase in Literacy Rate from 2001 to 2011")
df_copy['Literacy Growth'] = df_copy['2011-LIT'] - df_copy['2001 - LIT']
top5_lit = df_copy.nlargest(5, 'Literacy Growth')[['States_UnionTerritories', 'Literacy Growth']]
print(top5_lit)

Top 5 States with Highest Increase in Literacy Rate from 2001 to 2011
   States_UnionTerritories  Literacy Growth
7                    Delhi            18.61
4                    Bihar            14.80
30             Uttarakhand            14.03
24                  Punjab            13.01
15                  Kerala            12.85

In [29]:
import pandas as pd

# Sample data for demo
states = ["Andhra Pradesh", "Maharashtra", "Uttar Pradesh", "Karnataka", "Tamil Nadu", "Rajasthan", "Gujarat", "Odisha", "West Bengal", "Kerala"]
locations = {
    "Andhra Pradesh": [(15.9129, 79.7400)],
    "Maharashtra": [(19.7515, 75.7139)],
    "Uttar Pradesh": [(26.8467, 80.9462)],
    "Karnataka": [(15.3173, 75.7139)],
    "Tamil Nadu": [(11.1271, 78.6569)],
    "Rajasthan": [(27.0238, 74.2179)],
    "Gujarat": [(22.2587, 71.1924)],
    "Odisha": [(20.9517, 85.0985)],
    "West Bengal": [(22.9868, 87.8550)],
    "Kerala": [(10.8505, 76.2711)]
}

In [30]:
# the same dictionary as in your code

resource_data = pd.DataFrame({
    'State': states,
    'Population Density': [303, 365, 828, 319, 555, 200, 308, 269, 1029, 859],
    'Literacy Rate': [67, 82, 67, 75, 80, 66, 78, 73, 77, 94],
    'Average Income': [140000, 180000, 57000, 150000, 160000, 82000, 150000, 73000, 88000, 135000],
    'Urbanization Rate': [35, 45, 28, 40, 48, 24, 42, 29, 31, 47],
    'Unemployment Rate': [5, 4, 6, 5, 4, 5, 4, 6, 5, 3]
})

In [31]:

# Displaying dataframe
print("Resource Data:")
print(resource_data)

Resource Data:
            State  Population Density  Literacy Rate  Average Income  \
0  Andhra Pradesh                 303             67          140000
1     Maharashtra                 365             82          180000
2   Uttar Pradesh                 828             67           57000
3       Karnataka                 319             75          150000
4      Tamil Nadu                 555             80          160000
5       Rajasthan                 200             66           82000
6         Gujarat                 308             78          150000
7          Odisha                 269             73           73000
8     West Bengal                1029             77           88000
9          Kerala                 859             94          135000

   Urbanization Rate  Unemployment Rate
0                 35                  5
1                 45                  4
2                 28                  6
3                 40                  5
4                 48                  4
5                 24                  5
6                 42                  4
7                 29                  6
8                 31                  5
9                 47                  3

In [32]:
# Aid Coordination Data
aid_data = pd.DataFrame({
    'Organization': ['NGO A', 'Government Program B', 'Charity C', 'NGO D', 'Charity E', 'Government Program F'],
    'Contact': ['contact@ngoa.org', 'contact@govb.org', 'contact@charityc.org', 'contact@ngod.org', 'contact@charitye.org', 'contact@govf.org'],
    'Programs Offered': [2, 3, 1, 2, 3, 2]
})

In [33]:
print("Aid Coordination Data:")
print(aid_data)

Aid Coordination Data:
           Organization               Contact  Programs Offered
0                 NGO A      contact@ngoa.org                 2
1  Government Program B      contact@govb.org                 3
2             Charity C  contact@charityc.org                 1
3                 NGO D      contact@ngod.org                 2
4             Charity E  contact@charitye.org                 3
5  Government Program F      contact@govf.org                 2

In [34]:
# Volunteer Opportunities Data
volunteer_data = pd.DataFrame({
    'Opportunity': ['Teach children', 'Distribute food', 'Provide medical assistance', 'Clean-up drives', 'Skill development workshops', 'Agricultural assistance'],
    'Location': ['Andhra Pradesh', 'Maharashtra', 'Uttar Pradesh', 'Karnataka', 'Tamil Nadu', 'Rajasthan'],
    'Details': ['Teach subjects like Math, Science', 'Distribute food packets', 'Provide basic medical checkups', 'Organize community clean-up', 'Provide vocational training', 'Help with farming techniques']
})

print("Volunteer Opportunities Data:")
print(volunteer_data)

Volunteer Opportunities Data:
                   Opportunity        Location  \
0               Teach children  Andhra Pradesh
1              Distribute food     Maharashtra
2   Provide medical assistance   Uttar Pradesh
3              Clean-up drives       Karnataka
4  Skill development workshops      Tamil Nadu
5      Agricultural assistance       Rajasthan

                             Details
0  Teach subjects like Math, Science
1            Distribute food packets
2     Provide basic medical checkups
3        Organize community clean-up
4        Provide vocational training
5       Help with farming techniques

In [35]:
import pandas as pd

# Dictionary of state coordinates
state_coordinates = {
    'Andaman and Nicobar Islands': [11.66702557, 92.73598262],
    'Andhra Pradesh': [15.9129, 79.7400],
    'Arunachal Pradesh': [28.2180, 94.7278],
    'Assam': [26.2006, 92.9376],
    'Bihar': [25.0961, 85.3131],
    'Chandigarh': [30.7333, 76.7794],
    'Chhattisgarh': [21.2787, 81.8661],
    'Delhi': [28.6139, 77.2090],
    'Goa': [15.2993, 74.1240],
    'Gujarat': [22.2587, 71.1924],
    'Haryana': [29.0588, 76.0856],
    'Himachal Pradesh': [31.1048, 77.1734],
    'Jammu and Kashmir': [33.7782, 76.5762],
    'Jharkhand': [23.6102, 85.2799],
    'Karnataka': [15.3173, 75.7139],
    'Kerala': [10.8505, 76.2711],
    'Madhya Pradesh': [22.9734, 78.6569],
    'Maharashtra': [19.7515, 75.7139],
    'Manipur': [24.6637, 93.9063],
    'Meghalaya': [25.4670, 91.3662],
    'Mizoram': [23.1645, 92.9376],
    'Nagaland': [26.1584, 94.5624],
    'Odisha': [20.9517, 85.0985],
    'Puducherry': [11.9416, 79.8083],
    'Punjab': [31.1471, 75.3412],
    'Rajasthan': [27.0238, 74.2179],
    'Sikkim': [27.5330, 88.5122],
    'Tamil Nadu': [11.1271, 78.6569],
    'Tripura': [23.9408, 91.9882],
    'Uttar Pradesh': [26.8467, 80.9462],
    'Uttarakhand': [30.0668, 79.0193],
    'West Bengal': [22.9868, 87.8550]
}
# Load the data (replace with appropriate data loading mechanism)
def load_data():
    return pd.read_csv('data.csv')

df = load_data()

In [36]:

# Display raw data
print("Raw Data:")
print(df.head())  # Displaying the first few rows

Raw Data:
       States_UnionTerritories  2000-01-INC  2011-12-INC  2001 - LIT  \
0  Andaman and Nicobar Islands        25047        89642       81.30
1               Andhra Pradesh        17195        64773       60.47
2            Arunachal Pradesh        15260        71366       54.34
3                        Assam        12803        36320       63.25
4                        Bihar         6415        22582       47.00

   2011-LIT  2001 - POP  2011- POP  2001 -SEX_Ratio  2011 -SEX_Ratio  \
0     86.63         356        381              846              876
1     67.02       76210      84581              978              993
2     65.39        1098       1384              893              938
3     72.19       26656      31206              935              958
4     61.80       82999     104099              919              918

   2001 -UNEMP  2011 -UNEMP  2001 -Poverty  2011-Poverty
0           34           54          20.99          1.00
1            8           12          15.77          9.20
2            5           17          33.47         34.67
3           39           45          36.09         31.98
4           18           32          42.60         33.74

In [37]:

# Function to map a value to a color (for later visualization use)
def value_to_color(value, min_val, max_val):
    norm_value = (value - min_val) / (max_val - min_val)
    blue = int(255 * (1 - norm_value))
    red = int(255 * norm_value)
    return f"#{red:02x}{0:02x}{blue:02x}"

In [38]:

# Preparing data for mapping (example for one column)
column_name = '2011-LIT'  # Example column
min_val = df[column_name].min()
max_val = df[column_name].max()

In [40]:
# Prepare data for mapping
map_data = []

for idx, row in df.iterrows():
    location = state_coordinates[row['States_UnionTerritories']]
    value = row[column_name]
    color = value_to_color(value, min_val, max_val)

    # Append dictionary to the list instead of using DataFrame append
    map_data.append({'State': row['States_UnionTerritories'], 'Location': location, 'Value': value, 'Color': color})

# Convert list to DataFrame after the loop
map_data = pd.DataFrame(map_data)

print("Prepared Data for Mapping:")
print(map_data.head())

Prepared Data for Mapping:
                         State                    Location  Value    Color
0  Andaman and Nicobar Islands  [11.66702557, 92.73598262]  86.63  #c4003a
1               Andhra Pradesh            [15.9129, 79.74]  67.02  #2900d5
2            Arunachal Pradesh           [28.218, 94.7278]  65.39  #1c00e2
3                        Assam          [26.2006, 92.9376]  72.19  #5200ac
4                        Bihar          [25.0961, 85.3131]  61.80  #0000ff

In [42]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Load the data
df = pd.read_csv("data.csv")

In [43]:
# Display raw data
print("Raw Data:")
print(df.head())

Raw Data:
       States_UnionTerritories  2000-01-INC  2011-12-INC  2001 - LIT  \
0  Andaman and Nicobar Islands        25047        89642       81.30
1               Andhra Pradesh        17195        64773       60.47
2            Arunachal Pradesh        15260        71366       54.34
3                        Assam        12803        36320       63.25
4                        Bihar         6415        22582       47.00

   2011-LIT  2001 - POP  2011- POP  2001 -SEX_Ratio  2011 -SEX_Ratio  \
0     86.63         356        381              846              876
1     67.02       76210      84581              978              993
2     65.39        1098       1384              893              938
3     72.19       26656      31206              935              958
4     61.80       82999     104099              919              918

   2001 -UNEMP  2011 -UNEMP  2001 -Poverty  2011-Poverty
0           34           54          20.99          1.00
1            8           12          15.77          9.20
2            5           17          33.47         34.67
3           39           45          36.09         31.98
4           18           32          42.60         33.74

In [44]:
# Display data statistics
print("\nData Statistics:")
print(df.describe())

Data Statistics:
       2000-01-INC    2011-12-INC  2001 - LIT   2011-LIT     2001 - POP  \
count     32.00000      32.000000   32.000000  32.000000      32.000000
mean   19696.53125   74792.500000   69.810625  78.240312   32134.437500
std    10191.63120   40960.182286   11.149199   8.733646   38054.631775
min     6415.00000   22582.000000   47.000000  61.800000     356.000000
25%    12965.75000   47958.000000   62.950000  71.712500    2218.000000
50%    16418.00000   66413.000000   68.975000  77.465000   20989.500000
75%    22781.50000   89198.000000   78.945000  86.090000   53765.000000
max    49771.00000  211570.000000   90.860000  94.000000  166198.000000

           2011- POP  2001 -SEX_Ratio  2011 -SEX_Ratio  2001 -UNEMP  \
count      32.000000         32.00000        32.000000    32.000000
mean    37818.843750        928.87500       945.468750    21.406250
std     45189.884314         56.70737        53.105485    20.731555
min       381.000000        777.00000       818.000000     4.000000
25%      2636.750000        896.75000       916.500000     8.000000
50%     25448.000000        934.50000       949.000000    17.000000
75%     62958.250000        969.00000       976.750000    25.000000
max    199812.000000       1058.00000      1084.000000    93.000000

       2011 -UNEMP  2001 -Poverty  2011-Poverty
count    32.000000      32.000000     32.000000
mean     29.468750      22.627500     18.591563
std      32.223999      12.279176     11.086188
min       3.000000       3.480000      1.000000
25%       9.000000      12.180000      9.855000
50%      20.500000      21.395000     15.670000
75%      28.250000      32.870000     29.985000
max     151.000000      47.150000     39.930000

In [45]:
# Preprocess the data for model training
X = df.drop(columns=['States_UnionTerritories', '2011-12-INC'])
y = df['2011-12-INC']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("\nData split into training and testing sets.")

Data split into training and testing sets.

In [46]:
# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)
print("\nModel trained using Linear Regression.")

Model trained using Linear Regression.